<app-header></app-header>

<body class="row">





  <section class="col-sm-6">
    <!-- <div>
      <h3>Using NgForm with NgModel</h3>
      <div>
         <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
         <div>
          Name: <input type="range" name="name" ngModel required #userName="ngModel">
         </div>
         <div>
          City: <input name="city" ngModel #userCity="ngModel">
         </div>
         <div>
          State: <input name="state" ngModel>
         </div>
         <div>
          <button>Submit</button>
                <button type="button" (click)="resetUserForm(userForm)">Reset</button>
         </div>
         </form>
      </div>
  </div> -->

  </section>


  <app-sidebar></app-sidebar>


</body>
